<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RussianHub</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RussianHub.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">RussianHub</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Домашняя страница</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Приватность</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark">Видео</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark">Вход</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark">Регистрация</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div  class="categoryMenu">
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" style="padding: 10px 0; margin: 0 auto;">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item"><a class="nav-link text-dark">Азиатки</a></li>
                <li class="nav-item"><a class="nav-link text-dark">Анал</a></li>
                <li class="nav-item"><a class="nav-link text-dark">БДСМ</a></li>
                <li class="nav-item"><a class="nav-link text-dark">Блондинки</a></li>
                <li class="nav-item"><a class="nav-link text-dark">Большие сиськи</a></li>
            </ul>
            </div>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" style="padding: 10px 0; margin: 0 auto;">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item"><a class="nav-link text-dark">Большие члены</a></li>
                <li class="nav-item"><a class="nav-link text-dark">Брюнетки</a></li>
                <li class="nav-item"><a class="nav-link text-dark">В лосинах</a></li>
                <li class="nav-item"><a class="nav-link text-dark">В офисе</a></li>
                <li class="nav-item"><a class="nav-link text-dark">Волосатые</a></li>
            </ul>
            </div>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" style="padding: 10px 0; margin: 0 auto;">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item"><a class="nav-link text-dark">Групповое</a></li>
                <li class="nav-item"><a class="nav-link text-dark">Двойное проникновение</a></li>
                <li class="nav-item"><a class="nav-link text-dark">Домашнее</a></li>
                <li class="nav-item"><a class="nav-link text-dark">Дрочка</a></li>
                <li class="nav-item"><a class="nav-link text-dark">Жесткое</a></li>
            </ul>
        </div>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" style="padding: 10px 0; margin: 0 auto;">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item"><a class="nav-link text-dark">Жопы</a></li>
                <li class="nav-item"><a class="nav-link text-dark">Зрелые</a></li>
                <li class="nav-item"><a class="nav-link text-dark">Игрушки</a></li>
                <li class="nav-item"><a class="nav-link text-dark">Измена</a></li>
                <li class="nav-item"><a class="nav-link text-dark">Кастинг</a></li>
            </ul>
            </div>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" style="padding: 10px 0; margin: 0 auto;">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item"><a class="nav-link text-dark">Лесбиянки</a></li>
                <li class="nav-item"><a class="nav-link text-dark">Мастурбация</a></li>
                <li class="nav-item"><a class="nav-link text-dark">Молоденькие</a></li>
                <li class="nav-item"><a class="nav-link text-dark">Минет</a></li>
                <li class="nav-item"><a class="nav-link text-dark">МЖМ</a></li>
            </ul>
            </div>
         <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" style="padding: 10px 0; margin: 0 auto;">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item"><a class="nav-link text-dark">Милфы</a></li>
                <li class="nav-item"><a class="nav-link text-dark">Оргии</a></li>
                <li class="nav-item"><a class="nav-link text-dark">Пьяные</a></li>
                <li class="nav-item"><a class="nav-link text-dark">Рыжие</a></li>
                <li class="nav-item"><a class="nav-link text-dark">Массаж</a></li>
            </ul>
            </div>
         <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" style="padding: 10px 0; margin: 0 auto;">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item"><a class="nav-link text-dark">Свингеры</a></li>
                <li class="nav-item"><a class="nav-link text-dark">Сестра</a></li>
                <li class="nav-item"><a class="nav-link text-dark">Спящие</a></li>
                <li class="nav-item"><a class="nav-link text-dark">Студенты</a></li>
                <li class="nav-item"><a class="nav-link text-dark">Сквирт</a></li>
            </ul>
        </div>
         <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" style="padding: 10px 0; margin: 0 auto;">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item"><a class="nav-link text-dark">Секретарши</a></li>
                <li class="nav-item"><a class="nav-link text-dark">Худенькие</a></li>
                <li class="nav-item"><a class="nav-link text-dark">Хентай</a></li>
                <li class="nav-item"><a class="nav-link text-dark">Чулки</a></li>
                <li class="nav-item"><a class="nav-link text-dark">Шлюхи</a></li>
            </ul>
        </div>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" style="padding: 10px 0; margin: 0 auto;">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item"><a class="nav-link text-dark">Японки</a></li>
                <li class="nav-item"><a class="nav-link text-dark">Все категории</a></li> 
            </ul>
        </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - RussianHub - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
