<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RussianHub</title>
    <link rel="stylesheet" href="css/site.css" asp-append-version="true" />
</head>
<body>

    <div class="Menu">
        <a class="home" asp-controller="Home" asp-action="Index"> RussianHub</a>
        <div class="left-menu">
            <a asp-controller="Home" asp-action="Index">Видео</a>
            <a href="">Гифки</a>
            <a href="">Модели</a>
            <a href="">Блог</a>
        </div>
        <form class="form">
            <input placeholder="Искать здесь"/>
            <button>Поиск</button>
        </form>
        <div class="log">  
            <a href="">Закладки</a>
            <a href="">Вход</a>
            <a href="">Регистрация</a>
        </div>
    </div>
    <div class="Category">
        <ul>
            <li> <a href="">Азиатки</a></li>
            <li> <a href="">Анал</a></li>
            <li> <a href="">БДСМ</a></li>
            <li> <a href="">Блондинки</a></li>
            <li> <a href="">Большие сиськи</a></li>
        </ul>
        <ul>
            <li> <a href="">Большие члены</a></li>
            <li> <a href="">Брюнетки</a></li>
            <li> <a href="">В лосинах</a></li>
            <li> <a href="">В офисе</a></li>
            <li> <a href="">Волосатые</a></li>
        </ul>
        <ul>
            <li> <a href="">Групповое</a></li>
            <li> <a href="">Двойное проникновение</a></li>
            <li> <a href="">Домашнее</a></li>
            <li> <a href="">Дрочка</a></li>
            <li> <a href="">Жесткое</a></li>
        </ul>
        <ul>
            <li><a href="">Жопы</a></li>
            <li><a href="">Зрелые</a></li>
            <li><a href="">Игрушки</a></li>
            <li><a href="">Измена</a></li>
            <li><a href="">Кастинг</a></li>
        </ul>
        <ul>
            <li><a href="">Лесбиянки</a></li>
            <li><a href="">Мастурбация</a></li>
            <li><a href="">Молоденькие</a></li>
            <li><a href="">Минет</a></li>
            <li><a href="">МЖМ</a></li>
        </ul>
        <ul>
            <li><a href="">Милфы</a></li>
            <li><a href="">Оргии</a></li>
            <li><a href="">Пьяные</a></li>
            <li><a href="">Рыжие</a></li>
            <li><a href="">Массаж</a></li>
        </ul>
        <ul>
            <li><a href="">Cвингеры</a></li>
            <li><a href="">Сестра</a></li>
            <li><a href="">Спящие</a></li>
            <li><a href="">Студенты</a></li>
            <li><a href="">Сквирт</a></li>
        </ul>
        <ul>
            <li><a href="">Секретарши</a></li>
            <li><a href="">Худенькие</a></li>
            <li><a href="">Хентай</a></li>
            <li><a href="">Чулки</a></li>
            <li><a href="">Шлюхи</a></li>
        </ul>
        </div>
        <header>
        </header>
         <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="podval">
        <div class="container">
            &copy; 2022 - RussianHub - <a asp-area="" asp-controller="Home" asp-action="Privacy">Приватность</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
 </body>

</html>