<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RussianHub</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>

    <div class="Menu">
        <a class="home" asp-controller="Home" asp-action="Index"> RussianHub</a>
        <div class="left-menu">
            <a asp-controller="Home" asp-action="Index">Видео</a>
            <a asp-controller="Home" asp-action="Models">Модели</a>
            <a asp-controller="Home" asp-action="Photos">Фото</a>
            <a asp-controller="Home" asp-action="Gifs">Гифки</a>
            <a asp-controller="Home" asp-action="Blog">Блог</a>
        </div>
        <form class="form">
            <input placeholder="Искать здесь"/>
            <button>Поиск</button>
        </form>
        <div class="log">  
            <a asp-controller="Home" asp-action="Bookmarks">Закладки</a>
            <a asp-controller="Home" asp-action="Login">Вход</a>
            <a asp-controller="Home" asp-action="Registration">Регистрация</a>
        </div>
    </div>
        <header>
        </header>
         <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="podval">
        <div class="container">
            &copy; 2022 - RussianHub - <a asp-area="" asp-controller="Home" asp-action="Privacy">Приватность</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
 </body>

</html>