@model IEnumerable<RussianHub.Models.Video>

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860

*@

@{
    List<string> category = new List<string>();
    foreach (var obj in Model)
    {
        string[] genre = obj.Genres.Split('/');
        for (int i = 0; i < genre.Length; i++)
            category.Add(genre[i]);
    }
    var temp = category.Distinct<string>().ToArray();
    string[] res = new string[temp.Length];
    for (int i = 0; i < temp.Length; i++)
        res[i] = temp[i].ToString();
    Array.Sort(res, StringComparer.InvariantCulture);
}

<div class="Category">
    <ul>
        @foreach (var r in res)
        {
            <li><a href="">@r</a></li>
        }
    </ul>

</div>