
@{
    ViewData["Title"] = "Админка";
}

<div class="wrap__content">
    @await Component.InvokeAsync("CategoryList")
    <div class="content-container">
        <a asp-controller="Videos" asp-action="Index">База данных с видео</a>
    </div>
</div>