
@{
    ViewData["Title"] = "Admin";
}

<h1>Admin</h1>

<div>
    <a asp-controller="Photos" asp-action="Index">База данных с фотографиями</a>
    <br />
    <a asp-controller="PersonalParameters" asp-action="Index">База данных с персональной информацией</a>
    <br />
    <a asp-controller="Comments" asp-action="Index">База данных с комментариями</a>
    <br />
    <a asp-controller="Users" asp-action="Index">База данных с пользователями</a>
</div>