@{
    ViewData["Title"] = "Блог";
}


<p>
    Спешим вас порадовать о скором открытии нового нашего порно блога в котором мы и наши пользователи будут вести свои секс блоги и делится своими порно историями, ждите запуска нового раздела Порно Блог в ближайшее время.
</p>
