@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Мои закладки";
}


@if (SignInManager.IsSignedIn(User))
{
    <p>Тут будут ваши избранные секс ролики, ставьте роликам лайк, чтобы добавить их в закладки! Ищите порно ролики здесь: <a asp-controller="Home" asp-action="Index">RussianHub</a></p>
}
else
{
    <p>Тут будут ваши избранные секс ролики, ставьте роликам лайк, чтобы добавить их в закладки! Ищите порно ролики здесь: <a asp-controller="Home" asp-action="Index">RussianHub</a></p>
    <p>Не потеряйте свои закладки! <a asp-area="Identity" asp-page="/Account/Login">Войдите</a> или <a asp-area="Identity" asp-page="/Account/Register">зарегистрируйтесь</a>, а то ваши закладки потеряются при смене браузера или выходе из приватного режима</p>
}