@{
    ViewData["Title"] = "Гифки";
}


<p>
    Спешим вас парадовать о скором открытии нашего нового раздела с Порно Гифками в котором вы сможете лицезреть порно гифки, ждите запуска нового раздела Порно Гифки в ближайщее время.
</p>