@{
    ViewData["Title"] = "RussianHub";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<div class="wrap__content">
    <div class="Category">
        <ul>
            <li> <a href="">Азиатки</a></li>
            <li> <a href="">Анал</a></li>
            <li> <a href="">БДСМ</a></li>
            <li> <a href="">Блондинки</a></li>
            <li> <a href="">Большие сиськи твоей мамки</a></li>
            

            <li> <a href="">Большие члены</a></li>
            <li> <a href="">Брюнетки</a></li>
            <li> <a href="">В лосинах</a></li>
            <li> <a href="">В офисе</a></li>
            <li> <a href="">Волосатые</a></li>


            <li> <a href="">Групповое</a></li>
            <li> <a href="">Двойное проникновение</a></li>
            <li> <a href="">Домашнее</a></li>
            <li> <a href="">Дрочка</a></li>
            <li> <a href="">Жесткое</a></li>

            <li><a href="">Жопы</a></li>
            <li><a href="">Зрелые</a></li>
            <li><a href="">Игрушки</a></li>
            <li><a href="">Измена</a></li>
            <li><a href="">Кастинг</a></li>

            <li><a href="">Лесбиянки</a></li>
            <li><a href="">Мастурбация</a></li>
            <li><a href="">Молоденькие</a></li>
             <li><a href="">Мамка Андрея</a></li>
            <li><a href="">Минет</a></li>
            <li><a href="">МЖМ</a></li>

            <li><a href="">Милфы</a></li>
            <li><a href="">Оргии</a></li>
            <li><a href="">Пьяные</a></li>
            <li><a href="">Рыжие</a></li>
            <li><a href="">Массаж</a></li>

            <li><a href="">Cвингеры</a></li>
            <li><a href="">Сестра</a></li>
            <li><a href="">Спящие</a></li>
            <li><a href="">Студенты</a></li>
            <li><a href="">Сквирт</a></li>

            <li><a href="">Секретарши</a></li>
            <li><a href="">Худенькие</a></li>
            <li><a href="">Хентай</a></li>
            <li><a href="">Чулки</a></li>
            <li><a href="">Шлюхи</a></li>
        </ul>

    </div>

    <div class="content-container">

        <div class="slide-title">
            <h1> Добро пожаловать на новый более продвинутый RussianHub, наша команда профессионалов каждый день старается для Вас! Ранним утром, когда все ещё нежатся под одеялом и наслаждаются снами мы занимаемся поиском лучшего порно на бескрайних просторах интернета, чтобы к Вашему пробуждению вы смогли наслаждаться только самыми свежими и отборными секс HD видео!</h1>
        </div>
        <div class="content-item">
            <div class="video_block">
                <a asp-controller="Home" asp-action="Video">
                    <img class="video_img" src="https://img-hw.xnxx-cdn.com/videos/thumbs169xnxxll/06/db/84/06db84663a5f0125fce2a23619ce7fb6/06db84663a5f0125fce2a23619ce7fb6.21.jpg" />
                    <div class="about_video">
                        Блондинка прижимает голову качка к пилотке и делает ему минет
                    </div>
                </a>
                <div class="right_top_mini_block">
                    <div class="video_mini_rating">
                        <img class="" src="/img/like_video.png" width="33px" height="33px" />
                    </div>
                    <div class="video_percent">
                        98%
                    </div>
                </div>
                <div class="video_fav_add">
                    <img class="video_fav_add" src="/img/like_fav.png" width="28px" height="28px" />
                </div>
                <div class="right_bot_mini_block">
                    <div class="video_view">
                        <img class="video_view" src="/img/view_5.png" width="31px" height="28px" />
                    </div>
                    <div class="video_count">
                        99,999
                    </div>
                </div>
                <div class="video_duration">
                    30:30
                </div>
            </div>
            <div class="video_block">
                <a asp-controller="Home" asp-action="Video">
                    <img class="video_img" src="https://img-hw.xnxx-cdn.com/videos_new/thumbs169xnxxll/db/db/ca/dbdbca5d5849d9869496b5ef335234f2/dbdbca5d5849d9869496b5ef335234f2.23.jpg" />
                    <div class="about_video">
                        Молоденькая телочка с длинными ногами скачет на длинном страпоне
                    </div>
                </a>
                <div class="right_top_mini_block">
                    <div class="video_mini_rating">
                        <img class="" src="/img/like_video.png" width="33px" height="33px" />
                    </div>
                    <div class="video_percent">
                        98%
                    </div>
                </div>
                <div class="video_fav_add">
                    <img class="video_fav_add" src="/img/like_fav.png" width="28px" height="28px" />
                </div>
                <div class="right_bot_mini_block">
                    <div class="video_view">
                        <img class="video_view" src="/img/view_5.png" width="31px" height="28px" />
                    </div>
                    <div class="video_count">
                        99,999
                    </div>
                </div>
                <div class="video_duration">
                    30:30
                </div>
            </div>
            <div class="video_block">
                <a asp-controller="Home" asp-action="Video">
                    <img class="video_img" src="https://img-hw.xnxx-cdn.com/videos_new/thumbs169xnxxll/6a/cf/75/6acf750ff07c9916d6a31e8620ae58cc/6acf750ff07c9916d6a31e8620ae58cc.29.jpg" />
                    <div class="about_video">
                       Шикарная блондинка отдалась парню на двухэтажной кровати
                    </div>
                </a>
                <div class="right_top_mini_block">
                    <div class="video_mini_rating">
                        <img class="" src="/img/like_video.png" width="33px" height="33px" />
                    </div>
                    <div class="video_percent">
                        98%
                    </div>
                </div>
                <div class="video_fav_add">
                    <img class="video_fav_add" src="/img/like_fav.png" width="28px" height="28px" />
                </div>
                <div class="right_bot_mini_block">
                    <div class="video_view">
                        <img class="video_view" src="/img/view_5.png" width="31px" height="28px" />
                    </div>
                    <div class="video_count">
                        99,999
                    </div>
                </div>
                <div class="video_duration">
                    30:30
                </div>
            </div>
            <div class="video_block">
                <a asp-controller="Home" asp-action="Video">
                    <img class="video_img" src="https://img-hw.xnxx-cdn.com/videos/thumbs169xnxxll/68/5e/ad/685eade1e84bb7e8888fc8b6a2137aff/685eade1e84bb7e8888fc8b6a2137aff.18.jpg" />
                    <div class="about_video">
                        Негры имею девицу с двойным проникновением в разных позах
                    </div>
                </a>
                <div class="right_top_mini_block">
                    <div class="video_mini_rating">
                        <img class="" src="/img/like_video.png" width="33px" height="33px" />
                    </div>
                    <div class="video_percent">
                        98%
                    </div>
                </div>
                <div class="video_fav_add">
                    <img class="video_fav_add" src="/img/like_fav.png" width="28px" height="28px" />
                </div>
                <div class="right_bot_mini_block">
                    <div class="video_view">
                        <img class="video_view" src="/img/view_5.png" width="31px" height="28px" />
                    </div>
                    <div class="video_count">
                        99,999
                    </div>
                </div>
                <div class="video_duration">
                    30:30
                </div>
            </div>
            <div class="video_block">
                <a asp-controller="Home" asp-action="Video">
                    <img class="video_img" src="https://img-hw.xnxx-cdn.com/videos_new/thumbs169xnxxll/bc/12/b1/bc12b1498e6031ce2da1f88f3cd612e9/bc12b1498e6031ce2da1f88f3cd612e9.30.jpg" />
                    <div class="about_video">
                        Брюнетка в шикарном белье показывает волосатую киску и делает минет
                    </div>
                </a>
                <div class="right_top_mini_block">
                    <div class="video_mini_rating">
                        <img class="" src="/img/like_video.png" width="33px" height="33px" />
                    </div>
                    <div class="video_percent">
                        98%
                    </div>
                </div>
                <div class="video_fav_add">
                    <img class="video_fav_add" src="/img/like_fav.png" width="28px" height="28px" />
                </div>
                <div class="right_bot_mini_block">
                    <div class="video_view">
                        <img class="video_view" src="/img/view_5.png" width="31px" height="28px" />
                    </div>
                    <div class="video_count">
                        99,999
                    </div>
                </div>
                <div class="video_duration">
                    30:30
                </div>
            </div>
            <div class="video_block">
                <a asp-controller="Home" asp-action="Video">
                    <img class="video_img" src="https://cdn77-pic.xnxx-cdn.com/videos_new/thumbs169xnxxll/64/8a/08/648a0859819dab6f51f7caa9a54b786e/648a0859819dab6f51f7caa9a54b786e.30.jpg" />
                    <div class="about_video">
                        Незнакомец трахает девушку в большую попку на курорте возле бассейна
                    </div>
                </a>
                <div class="right_top_mini_block">
                    <div class="video_mini_rating">
                        <img class="" src="/img/like_video.png" width="33px" height="33px" />
                    </div>
                    <div class="video_percent">
                        98%
                    </div>
                </div>
                <div class="video_fav_add">
                    <img class="video_fav_add" src="/img/like_fav.png" width="28px" height="28px" />
                </div>
                <div class="right_bot_mini_block">
                    <div class="video_view">
                        <img class="video_view" src="/img/view_5.png" width="31px" height="28px" />
                    </div>
                    <div class="video_count">
                        99,999
                    </div>
                </div>
                <div class="video_duration">
                    30:30
                </div>
            </div>
            <div class="video_block">
                <a asp-controller="Home" asp-action="Video">
                    <img class="video_img" src="https://img-hw.xnxx-cdn.com/videos/thumbs169xnxxll/9d/8a/70/9d8a70c9ed57afb5b3f7a1e567d530f9/9d8a70c9ed57afb5b3f7a1e567d530f9.29.jpg" />
                    <div class="about_video">
                        Рыжеволосая девушка красиво прогибает спинку во время анала
                    </div>
                </a>
                <div class="right_top_mini_block">
                    <div class="video_mini_rating">
                        <img class="" src="/img/like_video.png" width="33px" height="33px" />
                    </div>
                    <div class="video_percent">
                        98%
                    </div>
                </div>
                <div class="video_fav_add">
                    <img class="video_fav_add" src="/img/like_fav.png" width="28px" height="28px" />
                </div>
                <div class="right_bot_mini_block">
                    <div class="video_view">
                        <img class="video_view" src="/img/view_5.png" width="31px" height="28px" />
                    </div>
                    <div class="video_count">
                        99,999
                    </div>
                </div>
                <div class="video_duration">
                    30:30
                </div>
            </div>
            <div class="video_block">
                <a asp-controller="Home" asp-action="Video">
                    <img class="video_img" src="https://img-hw.xnxx-cdn.com/videos_new/thumbs169xnxxll/97/e0/da/97e0da66e60a6c8e46d0301ff59f5bd8/97e0da66e60a6c8e46d0301ff59f5bd8.30.jpg" />
                    <div class="about_video">
                       Блондинка в шикарном белье приняла ванну и киской поимела мужика
                    </div>
                </a>
                <div class="right_top_mini_block">
                    <div class="video_mini_rating">
                        <img class="" src="/img/like_video.png" width="33px" height="33px" />
                    </div>
                    <div class="video_percent">
                        98%
                    </div>
                </div>
                <div class="video_fav_add">
                    <img class="video_fav_add" src="/img/like_fav.png" width="28px" height="28px" />
                </div>
                <div class="right_bot_mini_block">
                    <div class="video_view">
                        <img class="video_view" src="/img/view_5.png" width="31px" height="28px" />
                    </div>
                    <div class="video_count">
                        99,999
                    </div>
                </div>
                <div class="video_duration">
                    30:30
                </div>
            </div>
            <div class="video_block">
                <a asp-controller="Home" asp-action="Video">
                    <img class="video_img" src="https://cdn77-pic.xnxx-cdn.com/videos_new/thumbs169xnxxll/a3/e5/85/a3e58577e58628d841cf3d4cfc212214/a3e58577e58628d841cf3d4cfc212214.8.jpg" />
                    <div class="about_video">
                        Не кричи, всё равно буду трахать, пока на большие сиськи не кончу
                    </div>
                </a>
                <div class="right_top_mini_block">
                    <div class="video_mini_rating">
                        <img class="" src="/img/like_video.png" width="33px" height="33px" />
                    </div>
                    <div class="video_percent">
                        98%
                    </div>
                </div>
                <div class="video_fav_add">
                    <img class="video_fav_add" src="/img/like_fav.png" width="28px" height="28px" />
                </div>
                <div class="right_bot_mini_block">
                    <div class="video_view">
                        <img class="video_view" src="/img/view_5.png" width="31px" height="28px" />
                    </div>
                    <div class="video_count">
                        99,999
                    </div>
                </div>
                <div class="video_duration">
                    30:30
                </div>
            </div>
            <div class="video_block">
                <a asp-controller="Home" asp-action="Video">
                    <img class="video_img" src="https://img-hw.xnxx-cdn.com/videos_new/thumbs169xnxxll/ba/88/24/ba88241b993687a9e6d0c6af5ad9fae8/ba88241b993687a9e6d0c6af5ad9fae8.20.jpg" />
                    <div class="about_video">
                       Связанные руки сводной сестры делают минет и анальный трах
                    </div>
                </a>
                <div class="right_top_mini_block">
                    <div class="video_mini_rating">
                        <img class="" src="/img/like_video.png" width="33px" height="33px" />
                    </div>
                    <div class="video_percent">
                        98%
                    </div>
                </div>
                <div class="video_fav_add">
                    <img class="video_fav_add" src="/img/like_fav.png" width="28px" height="28px" />
                </div>
                <div class="right_bot_mini_block">
                    <div class="video_view">
                        <img class="video_view" src="/img/view_5.png" width="31px" height="28px" />
                    </div>
                    <div class="video_count">
                        99,999
                    </div>
                </div>
                <div class="video_duration">
                    30:30
                </div>
            </div>
            <div class="video_block">
                <a asp-controller="Home" asp-action="Video">
                    <img class="video_img" src="https://cdn77-pic.xnxx-cdn.com/videos/thumbs169xnxxll/5b/68/0e/5b680e2108a615ad012c8674b297418b/5b680e2108a615ad012c8674b297418b.29.jpg" />
                    <div class="about_video">
                        Татуированный мужик уложил подругу на постель и вылезал ее киску в позе 69
                    </div>
                </a>
                <div class="right_top_mini_block">
                    <div class="video_mini_rating">
                        <img class="" src="/img/like_video.png" width="33px" height="33px" />
                    </div>
                    <div class="video_percent">
                        98%
                    </div>
                </div>
                <div class="video_fav_add">
                    <img class="video_fav_add" src="/img/like_fav.png" width="28px" height="28px" />
                </div>
                <div class="right_bot_mini_block">
                    <div class="video_view">
                        <img class="video_view" src="/img/view_5.png" width="31px" height="28px" />
                    </div>
                    <div class="video_count">
                        99,999
                    </div>
                </div>
                <div class="video_duration">
                    30:30
                </div>
            </div>
            <div class="video_block">
                <a asp-controller="Home" asp-action="Video">
                    <img class="video_img" src="https://img-hw.xnxx-cdn.com/videos_new/thumbs169xnxxll/b1/00/6d/b1006d0602744ac88f3e0c87ff8fa14c/b1006d0602744ac88f3e0c87ff8fa14c.11.jpg" />
                    <div class="about_video">
                        Усталая мачеха делает глубокий минет, потом просит трахнуть ее киску. он разодрал зад мачехе - она сама попросила его
                    </div>
                </a>
                <div class="right_top_mini_block">
                    <div class="video_mini_rating">
                        <img class="" src="/img/like_video.png" width="33px" height="33px" />
                    </div>
                    <div class="video_percent">
                        98%
                    </div>
                </div>
                <div class="video_fav_add">
                    <img class="video_fav_add" src="/img/like_fav.png" width="28px" height="28px" />
                </div>
                <div class="right_bot_mini_block">
                    <div class="video_view">
                        <img class="video_view" src="/img/view_5.png" width="31px" height="28px" />
                    </div>
                    <div class="video_count">
                        99,999
                    </div>
                </div>
                <div class="video_duration">
                    30:30
                </div>
            </div>
            <div class="video_block">
                <a asp-controller="Home" asp-action="Video">
                    <img class="video_img" src="https://img-hw.xnxx-cdn.com/videos/thumbs169xnxxll/12/d2/89/12d289a15edd347d22a8ac0c182f2d79/12d289a15edd347d22a8ac0c182f2d79.30.jpg" />
                    <div class="about_video">
                        Все сочные лесбиянки любят секс игрушками и трахают себя страпоном
                    </div>
                </a>
                <div class="right_top_mini_block">
                    <div class="video_mini_rating">
                        <img class="" src="/img/like_video.png" width="33px" height="33px" />
                    </div>
                    <div class="video_percent">
                        98%
                    </div>
                </div>
                <div class="video_fav_add">
                    <img class="video_fav_add" src="/img/like_fav.png" width="28px" height="28px" />
                </div>
                <div class="right_bot_mini_block">
                    <div class="video_view">
                        <img class="video_view" src="/img/view_5.png" width="31px" height="28px" />
                    </div>
                    <div class="video_count">
                        99,999
                    </div>
                </div>
                <div class="video_duration">
                    30:30
                </div>
            </div>
            <div class="video_block">
                <a asp-controller="Home" asp-action="Video">
                    <img class="video_img" src="https://img-hw.xnxx-cdn.com/videos/thumbs169xnxxll/01/fe/4f/01fe4ff308813aa3c15fe6ace4f35381/01fe4ff308813aa3c15fe6ace4f35381.10.jpg" />
                    <div class="about_video">
                        Молоденькая красотка с красивой фигурой любит анал премиум
                    </div>
                </a>
                <div class="right_top_mini_block">
                    <div class="video_mini_rating">
                        <img class="" src="/img/like_video.png" width="33px" height="33px" />
                    </div>
                    <div class="video_percent">
                        98%
                    </div>
                </div>
                <div class="video_fav_add">
                    <img class="video_fav_add" src="/img/like_fav.png" width="28px" height="28px" />
                </div>
                <div class="right_bot_mini_block">
                    <div class="video_view">
                        <img class="video_view" src="/img/view_5.png" width="31px" height="28px" />
                    </div>
                    <div class="video_count">
                        99,999
                    </div>
                </div>
                <div class="video_duration">
                    30:30
                </div>
            </div>
            <div class="video_block">
                <a asp-controller="Home" asp-action="Video">
                    <img class="video_img" src="https://img-hw.xnxx-cdn.com/videos/thumbs169xnxxll/85/4e/63/854e6319a4c970e2177a86aabb2c1be4/854e6319a4c970e2177a86aabb2c1be4.1.jpg" />
                    <div class="about_video">
                       Темноволосая девушка с длинными косами отсосала у мужика на кастинге
                    </div>
                </a>
                <div class="right_top_mini_block">
                    <div class="video_mini_rating">
                        <img class="" src="/img/like_video.png" width="33px" height="33px" />
                    </div>
                    <div class="video_percent">
                        98%
                    </div>
                </div>
                <div class="video_fav_add">
                    <img class="video_fav_add" src="/img/like_fav.png" width="28px" height="28px" />
                </div>
                <div class="right_bot_mini_block">
                    <div class="video_view">
                        <img class="video_view" src="/img/view_5.png" width="31px" height="28px" />
                    </div>
                    <div class="video_count">
                        99,999
                    </div>
                </div>
                <div class="video_duration">
                    30:30
                </div>
            </div>

            
        </div>
    </div>
</div>