@{
    ViewData["Title"] = "RussianHub";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<div class="wrap__content">
    <div class="Category">
        <ul>
            <li> <a href="">Азиатки</a></li>
            <li> <a href="">Анал</a></li>
            <li> <a href="">БДСМ</a></li>
            <li> <a href="">Блондинки</a></li>
            <li> <a href="">Большие сиськи</a></li>


            <li> <a href="">Большие члены</a></li>
            <li> <a href="">Брюнетки</a></li>
            <li> <a href="">В лосинах</a></li>
            <li> <a href="">В офисе</a></li>
            <li> <a href="">Волосатые</a></li>


            <li> <a href="">Групповое</a></li>
            <li> <a href="">Двойное проникновение</a></li>
            <li> <a href="">Домашнее</a></li>
            <li> <a href="">Дрочка</a></li>
            <li> <a href="">Жесткое</a></li>

            <li><a href="">Жопы</a></li>
            <li><a href="">Зрелые</a></li>
            <li><a href="">Игрушки</a></li>
            <li><a href="">Измена</a></li>
            <li><a href="">Кастинг</a></li>

            <li><a href="">Лесбиянки</a></li>
            <li><a href="">Мастурбация</a></li>
            <li><a href="">Молоденькие</a></li>
            <li><a href="">Минет</a></li>
            <li><a href="">МЖМ</a></li>

            <li><a href="">Милфы</a></li>
            <li><a href="">Оргии</a></li>
            <li><a href="">Пьяные</a></li>
            <li><a href="">Рыжие</a></li>
            <li><a href="">Массаж</a></li>

            <li><a href="">Cвингеры</a></li>
            <li><a href="">Сестра</a></li>
            <li><a href="">Спящие</a></li>
            <li><a href="">Студенты</a></li>
            <li><a href="">Сквирт</a></li>

            <li><a href="">Секретарши</a></li>
            <li><a href="">Худенькие</a></li>
            <li><a href="">Хентай</a></li>
            <li><a href="">Чулки</a></li>
            <li><a href="">Шлюхи</a></li>
        </ul>

    </div>

    <div class="content-container">

        <div>
            <h1> Добро пожаловать на новый более продвинутый Порно365, наша команда профессионалов каждый день старается для Вас! Ранним утром, когда все ещё нежатся под одеялом и наслаждаются снами мы занимаемся поиском лучшего порно на бескрайних просторах интернета, чтобы к Вашему пробуждению вы смогли наслаждаться только самыми свежими и отборными секс HD видео!</h1>
        </div>
        <div class="content-item_layout">
            <div class="video_block_layout">
                <a asp-controller="Home" asp-action="Video" target="_blank">
                    <img class="video_img" src="https://avatars.mds.yandex.net/i?id=971ef85b969c48720b5a1bcd2de1787f-5312482-images-thumbs&n=13" />
                    <div class="about_video">
                        Горячую шлюху ебут в
                    </div>
                </a>
                <div class="right_top_mini_block">
                    <div class="video_mini_rating">
                        <img class="" src="/img/like_video.png" width="33px" height="33px" />
                    </div>
                    <div class="video_percent">
                        98%
                    </div>
                </div>
                <div class="video_fav_add">
                    <img class="video_fav_add" src="/img/like_fav.png" width="28px" height="28px" />
                </div>
                <div class="right_bot_mini_block">
                    <div class="video_view">
                        <img class="video_view" src="/img/view_5.png" width="31px" height="28px" />
                    </div>
                    <div class="video_count">
                        99,999
                    </div>
                </div>
                <div class="video_duration">
                    30:30
                </div>
            </div>
            <div class="video_block_layout">
                <a asp-controller="Home" asp-action="Video" target="_blank">
                    <img class="video_img" src="https://avatars.mds.yandex.net/i?id=971ef85b969c48720b5a1bcd2de1787f-5312482-images-thumbs&n=13" />
                    <div class="about_video">
                        Горячую шлюху ебут в
                    </div>
                </a>
                <div class="right_top_mini_block">
                    <div class="video_mini_rating">
                        <img class="" src="/img/like_video.png" width="33px" height="33px" />
                    </div>
                    <div class="video_percent">
                        98%
                    </div>
                </div>
                <div class="video_fav_add">
                    <img class="video_fav_add" src="/img/like_fav.png" width="28px" height="28px" />
                </div>
                <div class="right_bot_mini_block">
                    <div class="video_view">
                        <img class="video_view" src="/img/view_5.png" width="31px" height="28px" />
                    </div>
                    <div class="video_count">
                        99,999
                    </div>
                </div>
                <div class="video_duration">
                    30:30
                </div>
            </div>
            <div class="video_block_layout">
                <a asp-controller="Home" asp-action="Video" target="_blank">
                    <img class="video_img" src="https://avatars.mds.yandex.net/i?id=971ef85b969c48720b5a1bcd2de1787f-5312482-images-thumbs&n=13" />
                    <div class="about_video">
                        Горячую шлюху ебут в
                    </div>
                </a>
                <div class="right_top_mini_block">
                    <div class="video_mini_rating">
                        <img class="" src="/img/like_video.png" width="33px" height="33px" />
                    </div>
                    <div class="video_percent">
                        98%
                    </div>
                </div>
                <div class="video_fav_add">
                    <img class="video_fav_add" src="/img/like_fav.png" width="28px" height="28px" />
                </div>
                <div class="right_bot_mini_block">
                    <div class="video_view">
                        <img class="video_view" src="/img/view_5.png" width="31px" height="28px" />
                    </div>
                    <div class="video_count">
                        99,999
                    </div>
                </div>
                <div class="video_duration">
                    30:30
                </div>
            </div>
            <div class="video_block_layout">
                <a asp-controller="Home" asp-action="Video" target="_blank">
                    <img class="video_img" src="https://avatars.mds.yandex.net/i?id=77ff11cea638d8f6e40e24f0e5413c24-5886707-images-thumbs&n=13" />
                    <div class="about_video">
                        Горячую шлюху ебут в
                    </div>
                </a>
                <div class="right_top_mini_block">
                    <div class="video_mini_rating">
                        <img class="" src="/img/like_video.png" width="33px" height="33px" />
                    </div>
                    <div class="video_percent">
                        98%
                    </div>
                </div>
                <div class="video_fav_add">
                    <img class="video_fav_add" src="/img/like_fav.png" width="28px" height="28px" />
                </div>
                <div class="right_bot_mini_block">
                    <div class="video_view">
                        <img class="video_view" src="/img/view_5.png" width="31px" height="28px" />
                    </div>
                    <div class="video_count">
                        99,999
                    </div>
                </div>
                <div class="video_duration">
                    30:30
                </div>
            </div>
        </div>
    </div>
</div>