@{
    ViewData["Title"] = "RussianHub";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<div class="wrap__content">
    <div class="Category">
        <ul>
            <li> <a href="">Азиатки</a></li>
            <li> <a href="">Анал</a></li>
            <li> <a href="">БДСМ</a></li>
            <li> <a href="">Блондинки</a></li>
            <li> <a href="">Большие сиськи</a></li>


            <li> <a href="">Большие члены</a></li>
            <li> <a href="">Брюнетки</a></li>
            <li> <a href="">В лосинах</a></li>
            <li> <a href="">В офисе</a></li>
            <li> <a href="">Волосатые</a></li>


            <li> <a href="">Групповое</a></li>
            <li> <a href="">Двойное проникновение</a></li>
            <li> <a href="">Домашнее</a></li>
            <li> <a href="">Дрочка</a></li>
            <li> <a href="">Жесткое</a></li>

            <li><a href="">Жопы</a></li>
            <li><a href="">Зрелые</a></li>
            <li><a href="">Игрушки</a></li>
            <li><a href="">Измена</a></li>
            <li><a href="">Кастинг</a></li>

            <li><a href="">Лесбиянки</a></li>
            <li><a href="">Мастурбация</a></li>
            <li><a href="">Молоденькие</a></li>
            <li><a href="">Минет</a></li>
            <li><a href="">МЖМ</a></li>

            <li><a href="">Милфы</a></li>
            <li><a href="">Оргии</a></li>
            <li><a href="">Пьяные</a></li>
            <li><a href="">Рыжие</a></li>
            <li><a href="">Массаж</a></li>

            <li><a href="">Cвингеры</a></li>
            <li><a href="">Сестра</a></li>
            <li><a href="">Спящие</a></li>
            <li><a href="">Студенты</a></li>
            <li><a href="">Сквирт</a></li>

            <li><a href="">Секретарши</a></li>
            <li><a href="">Худенькие</a></li>
            <li><a href="">Хентай</a></li>
            <li><a href="">Чулки</a></li>
            <li><a href="">Шлюхи</a></li>
        </ul>

    </div>

    <div class="content-container">

        <div>
            <h5> Порно видео онлайн!</h5>
        </div>
        <div class="content-item">
            <div class="video_block">
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
                    <img src="/img/порн5.jfif" height="200px" width="314px" />
                    <p>Горячую шлюху ебут в 3 дырки</p>
                </a>
            </div>
            <div class="video_block">

                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
                    <img src="/img/порнн.jfif" height="200px" width="314px" />
                    <p>Чел трахает в жопу пьяную </p>
                </a>
            </div>
                <div class="video_block">

                    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
                        <img src="/img/порн3.jfif" height="200px" width="314px" />
                        <p>Девка стонет от длинного члена</p>
                    </a>
                </div>
            <div class="video_block">

                <a asp-controller="Home" asp-action="video" target="_blank">
                    <img src="/img/порн4.jfif" height="200px" width="314px" />
                    <p>Трахает на кровати свою сестру</p>
                </a>
            </div>
            <div class="video_block">
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
                    <img src="/img/порн5.jfif" height="200px" width="314px" />
                    <p>Горячую шлюху ебут в 3 дырки</p>
                </a>
            </div>
            <div class="video_block">

                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
                    <img src="/img/порнн.jfif" height="200px" width="314px" />
                    <p>Чел трахает в жопу пьяную </p>
                </a>
            </div>
                <div class="video_block">

                    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
                        <img src="/img/порн3.jfif" height="200px" width="314px" />
                        <p>Девка стонет от длинного члена</p>
                    </a>
                </div>

            <div class="video_block">

                <a asp-controller="Home" asp-action="video" target="_blank">
                    <img src="/img/порн4.jfif" height="200px" width="314px" />
                    <p>Трахает на кровати свою сестру</p>
                </a>
            </div>
           
            
        </div>
    </div>
