@{
    ViewData["Title"] = "Login";
}
<link rel="stylesheet" href="~/css/form.css" asp-append-version="true"/>

<div class="login">
  <div class="login-triangle"></div>
  
  <h2 class="login-header">Login</h2>

  <form class="login-container">
    <p><input type="email" placeholder="Email"></p>
    <p><input type="password" placeholder="Password"></p>
    <p><input type="submit" value="Login"></p>
  </form>
</div>