@{
    ViewData["Title"] = "";
}

@ViewData["Title"]
<div class="wrap__content">
    <div class="Category">
        Здесь будут категории
    </div>
    <div class="content-container">
        <h1>Фото твоих одноклассниц</h1>
        <div class="content-item_layout">
            <div class="photo_block">
                <img src="https://adulters.org/uploads/posts/2022-01/1642265179_82-adulters-org-p-anal-s-odnoklassnitsami-erotika-86.jpg" />

            </div>
            <div class="photo_block">
                <img class="photo_img" src="https://avatars.mds.yandex.net/i?id=c54a1eb6e7235ab0670336256129fb8c-5869047-images-thumbs&n=13" />
            </div>
            <div class="photo_block">
                <img class="photo_img" src="https://telochki.org/uploads/posts/2021-09/1631456792_24-telochki-info-p-zhenshchini-zanimayutsya-seksom-erotika-24.jpg" />
            </div>
            <div class="photo_block">
                <img class="photo_img" src="https://telochki.org/uploads/posts/2021-09/1631456792_24-telochki-info-p-zhenshchini-zanimayutsya-seksom-erotika-24.jpg" />
            </div>
            <div class="photo_block">
                <img class="photo_img" src="https://telochki.org/uploads/posts/2021-09/1631456792_24-telochki-info-p-zhenshchini-zanimayutsya-seksom-erotika-24.jpg" />

            </div>
        </div>
    </div>

</div>
