@{
    ViewData["Title"] = "Фото";
}

<h1>@ViewData["Title"]</h1>

<div class="MyCarousel">
    <ul>
        <li><img src="https://cs9.pikabu.ru/post_img/2018/02/27/4/og_og_151970805525298501.jpg"/></li>
        <li><img src="https://thumb-p5.xhcdn.com/a/d4fWCNXFdchyU7Z4ettpQw/000/085/945/435_1000.jpg"/></li>
        <li><img src="https://siskins.club/uploads/posts/2017-05/1495286723_shaved-blonde-kayden-kross-with-nice-feet-from-twistys-1.jpg"/></li>
        <li><img src="http://cn13.nevsedoma.com.ua/girls/135/126738A4.jpg"/></li>
        <li><img src="https://i1.imageban.ru/out/2010/11/01/f6d1562f7c424737f8757596fa95b8a8.jpg"/></li>
    </ul>
</div>