@{
    ViewData["Title"] = "";
}

@ViewData["Title"]
<div class="wrap__content">

    <div class="Category">
        <ul>
            <li> <a href="">Азиатки</a></li>
            <li> <a href="">Анал</a></li>
            <li> <a href="">БДСМ</a></li>
            <li> <a href="">Блондинки</a></li>
            <li> <a href="">Большие сиськи твоей мамки</a></li>


            <li> <a href="">Большие члены</a></li>
            <li> <a href="">Брюнетки</a></li>
            <li> <a href="">В лосинах</a></li>
            <li> <a href="">В офисе</a></li>
            <li> <a href="">Волосатые</a></li>


            <li> <a href="">Групповое</a></li>
            <li> <a href="">Двойное проникновение</a></li>
            <li> <a href="">Домашнее</a></li>
            <li> <a href="">Дрочка</a></li>
            <li> <a href="">Жесткое</a></li>

            <li><a href="">Жопы</a></li>
            <li><a href="">Зрелые</a></li>
            <li><a href="">Игрушки</a></li>
            <li><a href="">Измена</a></li>
            <li><a href="">Кастинг</a></li>

            <li><a href="">Лесбиянки</a></li>
            <li><a href="">Мастурбация</a></li>
            <li><a href="">Молоденькие</a></li>
            <li><a href="">Мамка Андрея</a></li>
            <li><a href="">Минет</a></li>
            <li><a href="">МЖМ</a></li>

            <li><a href="">Милфы</a></li>
            <li><a href="">Оргии</a></li>
            <li><a href="">Пьяные</a></li>
            <li><a href="">Рыжие</a></li>
            <li><a href="">Массаж</a></li>

            <li><a href="">Cвингеры</a></li>
            <li><a href="">Сестра</a></li>
            <li><a href="">Спящие</a></li>
            <li><a href="">Студенты</a></li>
            <li><a href="">Сквирт</a></li>

            <li><a href="">Секретарши</a></li>
            <li><a href="">Худенькие</a></li>
            <li><a href="">Хентай</a></li>
            <li><a href="">Чулки</a></li>
            <li><a href="">Шлюхи</a></li>
        </ul>
    </div>

    <div class="content-container">
        <h1>Фото твоих одноклассниц(Либо фотки с одинаковым разрешением(Адаптивные фотографии), либо с разным разрешением(статические)</h1>
        <div class="content-item">
            <div class="photo_block">
                <img class="photo_img" src="https://telochki.org/uploads/posts/2021-09/1631456792_24-telochki-info-p-zhenshchini-zanimayutsya-seksom-erotika-24.jpg" />

            </div>
            <div class="photo_block">
                <img class="photo_img" src="https://telochki.org/uploads/posts/2021-09/1631456792_24-telochki-info-p-zhenshchini-zanimayutsya-seksom-erotika-24.jpg" />
            </div>
            <div class="photo_block">
                <img class="photo_img" src="https://photochki.pro/uploads/posts/2021-10/1634869106_25-photochki-pro-p-porno-s-obnazhennimi-aktrisami-porno-26.jpg" />
            </div>
            <div class="photo_block">
                <img class="photo_img" src="https://sun9-59.userapi.com/c858236/v858236435/1fef48/7FZPsTtBeqs.jpg" />
            </div>
            <div class="photo_block">
                <img class="photo_img" src="https://telochki.org/uploads/posts/2021-09/1631456792_24-telochki-info-p-zhenshchini-zanimayutsya-seksom-erotika-24.jpg" />

            </div>
        </div>
    </div>

</div>
