@{
    ViewData["Title"] = "Фото";
}

<h1>@ViewData["Title"]</h1>

 <div class="content-container">
         
        <h5>
            Порно видео онлайн!
        </h5>
        <div class="content-item">
            <div class="video_block">
                
         
                 <img src="/img/порн5.jfif" height = "200px" width = "314px"/>       
                 
            </div>
            <div class="video_block">
                
                 <a href= "https://www.youtube.com/watch?v=dQw4w9WgXcQ" target = "_blank">
                 <img src="/img/порнн.jfif" height = "200px" width = "314px"/>
               </a>
            </div>
            <div class="video_block">
                
                 
                 <img src="/img/порн3.jfif" height = "200px" width = "314px"/>       
                 </a>
            </div>
             <div class="video_block">
                
                 <a href= "https://www.youtube.com/watch?v=dQw4w9WgXcQ"  target = "_blank">
                 <img src="/img/порн4.jfif" height = "200px" width = "314px"/>       
                 </a>
            </div>
             
        </div>
     </div>