@{
    ViewData["Title"] = "Фото";
}

<h1>Фото твоих одногруппниц</h1>
<div class="content-item">
    <div class="photo_block">
        <img class="photo_img" src="https://sun9-51.userapi.com/s/v1/if1/TlUnG0RGGvHnHjY87SkMDsEIJlBv5MFi4TE3LSfop7qPzlIMIj2OW_rIgy9vs7k_CfGdaUVP.jpg?size=768x1024&quality=96&type=album" />

    </div>
    <div class="photo_block">
        <img class="photo_img" src="https://sun9-37.userapi.com/s/v1/if1/-EqzLSrmZdOaq18GMhC6W-dP2LjGzb6XmNZz5i7s4aDYPDJcX1NE2ZfC1HwBvSlBnRPxoD8Y.jpg?size=640x960&quality=96&type=album" />
    </div>
    <div class="photo_block">
        <img class="photo_img" src="https://sun3-12.userapi.com/s/v1/if1/XxfTg1J0MPAAZI5Kd_-qrewnUZQg9489seRNnd00Jrl4-c6M-EG4UzyNFgNXurErlqZrcQOP.jpg?size=640x960&quality=96&type=album" />
    </div>
    <div class="photo_block">
        <img class="photo_img" src="https://sun9-70.userapi.com/s/v1/if1/8XjOdOFMN86cEcXl3PL_ptOZqATOVG2NMUrwaV-yDhXoHCtNiai6cGBBTUrmsfhBpkABCNsg.jpg?size=1080x1350&quality=96&type=album" />
    </div>
    <div class="photo_block">
        <img class="photo_img" src="https://sun9-61.userapi.com/s/v1/if1/1tyGY3ClqvTD9vSOdKuEHBcgnjtbLl6j0FLThxwpL1z8bLGFjXmGyoJZRlIh_qHAKT_yqK9U.jpg?size=960x1280&quality=96&type=album" />

    </div>
</div>

