@{
    ViewData["Title"] = "Условия использования";
}
<div align="center">
    <h1>@ViewData["Title"]</h1>
    
    <p>Заходя на этот сайт вы подтверждаете, что являетесь совершеннолетним и что посещение этого веб-сайта не является нарушением законодательства.
        Все ролики на сайте - постановочные, всем моделям больше 18 лет, все видео взяты из открытых интернет источников.</p>
    <a asp-controller="TermsOfUse" asp-action="Abuse">Жалобы/Abuse</a>
    <a asp-controller="TermsOfUse" asp-action="Info">Информация для родителей</a>
    <a asp-controller="TermsOfUse" asp-action="Advertisement">Реклама на сайте</a>
    <a asp-controller="TermsOfUse" asp-action="Contacts">Контакты</a>
</div>

