
@{
    ViewData["Title"] = "Video";
}

<head>
        <meta charset="utf-8" />
        <title>Embedded Video Example</title>
       

</head>
<body>
        <h1>Video test</h1>
        <div class="container-block">
            <div class="video-block">
                <video id="my_video_1" class="video-js vjs-default-skin" width=100% height="551px"
                      controls preload="none" poster='http://video-js.zencoder.com/oceans-clip.jpg'
                      data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'>
                    <source src="https://v3.cdnde.com/x3//upload_a784d5597df751e9d51d6a0abd033b2e/22549/JOPORN_NET_22549_720p.mp4?video=MTU1ZDA3MjBkZDViYjg2MmM0OGUxZDlmY2Y5ZmZlMTA=&time=1651318086&ip=77.50.174.7" type='video/mp4' />
                    <source src="https://v3.cdnde.com/x3//upload_a784d5597df751e9d51d6a0abd033b2e/22549/JOPORN_NET_22549_720p.webm?video=MTU1ZDA3MjBkZDViYjg2MmM0OGUxZDlmY2Y5ZmZlMTA=&time=1651318086&ip=77.50.174.7" type='video/webm' />
                </video>
            <div class="video-data">
                <h1>Парень соблазнила двух милашек на групповой анал и довел их киски до предела</h1>
            </div>
            <div class=video-additions>
                <p>Категории:</p>
                <p>Модели:</p>
                Две девушки, блондинка и брюнетка, обожают экспериментировать. На этот раз в их объятья попал мужчина, который предпочитает анал. Вот прелестные леди и стали его ласкать, возбуждать и делать все, чтобы его мужское достоинство было готово к групповухе. Для начала милашки отполировали его член по очереди, а после этого, каждая прогнулась так, как ей было удобно. Блонда встала в позу раком и впустила член в попку, а брюнетка после залезла на него сверху и стала прыгать, пока не кончила.
            </div>
            <div class="video-comments"> 
               
                <p> Комментарии</p>

                <p>Чтобы оставить комментарий войдите или зарегистрируйтесь или оставьте так:</p>

                <form>
                    <div>
                         <textarea tabindex="1" name="text"> </textarea>
                    </div>
                   
                    <div>
                        <input tabindex="2" type="text" name="Username" placeholder="Ваше имя"/>
                        <button tabindex="3" type="submit"> Отправить</button>
                    </div>
                    
                </form>

            </div>
            </div>
            
            <div class= "other-video">
                1
            </div>
        </div>
           
        
</body>

