
@{
    ViewData["Title"] = "Video";
}

<head>
        <meta charset="utf-8" />
        <title>Embedded Video Example</title>
</head>
<body>
        <h1>Video test</h1>
        <video width="320" height="240">
            <source src="https://i.ytimg.com/an_webp/dQw4w9WgXcQ/mqdefault_6s.webp?du=3000&sqp=CMyfp5MG&rs=AOn4CLCHVRIQKUgQN0Tuu6OvRbtx_GSp2w" type="video/mp4">
        </video>
</body>

