@{
    ViewData["Title"] = "Video";
}

<head>
    <meta charset="utf-8" />
    <title>Embedded Video Example</title>


</head>
<body>
    <h1>Video test</h1>
    <div class="container-block">
        <div class="video-block">
            <video id="my_video_1" class="video-js vjs-default-skin" width=100% height="551px"
                   controls preload="none" poster='http://video-js.zencoder.com/oceans-clip.jpg'
                   data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'>
                <source src="https://v2.cdnde.com/x2//upload_0f6bc372e6966b86fae4568e57a122f7/19483/JOPORN_NET_19483_720p.mp4?video=MTgxZGJlYjE0NTM2Y2ExNTUwMTYyMjMyZGNjOWZkZWQ=&time=1651332190&ip=77.50.174.7" type='video/mp4' />
                <source src="https://v2.cdnde.com/x2//upload_0f6bc372e6966b86fae4568e57a122f7/19483/JOPORN_NET_19483_720p.mp4?video=MTgxZGJlYjE0NTM2Y2ExNTUwMTYyMjMyZGNjOWZkZWQ=&time=1651332190&ip=77.50.174.7" type='video/webm' />
            </video>
            <div class="video-data">

                <div class="description">
                    <h1>Парень соблазнила двух милашек на групповой анал и довел их киски до предела и кончил им в сладкие писечки</h1>
                </div>

                <div class="video_favs">
                    <div class="video_likes">
                        999
                    </div>
                    <div class="add_favorite">
                        <img src="/img/Like.png" height="25px" width="30px" />
                    </div>
                </div>

            </div>
            <div class=video-additions>

                <div class="kek">
                    <div class="download">
                        <img src="/img/skachat.png" height="25px" width="30px" />
                        Cкачать
                    </div>
                    <div class="views">
                        <div>
                            Просмотров:
                        </div>
                        <div class="view-count">
                            99999
                        </div>

                    </div>
                </div>
                <div class="grade">
                    <div class="like">
                        <img src="/img/laik.png" height="35px" width="40px" />
                    </div>
                    <div class="rating_score">
                        <div class="percent">
                            100%
                        </div>
                        <div class="vote">
                            Голосов:100
                        </div>
                    </div>
                    <div class="dislike">
                        <img src="/img/dislaik.png" height="35px" width="40px" />
                    </div>
                </div>


                <p>Категории:</p>
                <p>Модели:</p>
                Две девушки, блондинка и брюнетка, обожают экспериментировать. На этот раз в их объятья попал мужчина, который предпочитает анал. Вот прелестные леди и стали его ласкать, возбуждать и делать все, чтобы его мужское достоинство было готово к групповухе. Для начала милашки отполировали его член по очереди, а после этого, каждая прогнулась так, как ей было удобно. Блонда встала в позу раком и впустила член в попку, а брюнетка после залезла на него сверху и стала прыгать, пока не кончила.
            </div>
            <div class="video-comments">

                <p> Комментарии</p>


                <div class="comment">
                    <div class="comment-user comment_style">
                        <div class="comment-user_name">
                            Андрей
                        </div>
                        <div class="comment-user_photo">
                            <img src="/Img/anonim.jpg" height="100px" width="90px" />
                        </div>
                    </div>
                    <div class="comment-message comment_style">
                        <div class="comment_time">
                            1 Апр 2022 в 2:55
                        </div>
                        <div class="comment_text">
                            ЕЙ ЖЕ БЛЯТЬ 14 АЛО хотя одобряю
                        </div>
                        <div class="comment_down">
                            <div class="comment_reply">
                                Ответить

                            </div>
                            <div class="comment_rate">
                                <div class="comment_like">
                                    <img src="/img/laik.png" height="15px" width="20px" />
                                </div>
                                <div class="comment-grade">
                                    3
                                </div>
                                <div comment_dislike>
                                    <img src="/img/dislaik.png" height="15px" width="20px" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <p>Чтобы оставить комментарий войдите или зарегистрируйтесь или оставьте так:</p>

                <form class="video_form">
                    <div>
                        <textarea class="comment_area" tabindex="1" name="text"> </textarea>
                    </div>

                    <div>
                        <input class="input" tabindex="2" type="text" name="Username" placeholder="Ваше имя" />
                        <button class="input_submit" tabindex="3" type="submit"> Отправить</button>
                    </div>

                </form>

            </div>
        </div>

        <div class="other-video">
            <div class="similar_video">
                Похожие видео
            </div>
            <div class="content-item_video">
                <div class="video_block_video">
                    <a asp-controller="Home" asp-action="Video" target="_blank">
                        <img class="video_img" src="/img/порн5.jfif" />
                        <div class="about_video">
                            Горячую шлюху ебут в
                        </div>
                    </a>
                    <div class="right_top_mini_block">
                        <div class="video_mini_rating">
                            <img class="" src="/img/like_video.png" width="33px" height="33px" />
                        </div>
                        <div class="video_percent">
                            98%
                        </div>
                    </div>
                    <div class="video_fav_add">
                        <img class="video_fav_add" src="/img/like_fav.png" width="28px" height="28px" />
                    </div>
                    <div class="right_bot_mini_block">
                        <div class="video_view">
                            <img class="video_view" src="/img/view_5.png" width="31px" height="28px" />
                        </div>
                        <div class="video_count">
                            99,999
                        </div>
                    </div>
                    <div class="video_duration">
                        30:30
                    </div>
                </div>

                <div class="video_block_video">
                    <a asp-controller="Home" asp-action="Video" target="_blank">
                        <img class="video_img" src="/img/порн5.jfif" />
                        <div class="about_video">
                            Горячую шлюху ебут в
                        </div>
                    </a>
                    <div class="right_top_mini_block">
                        <div class="video_mini_rating">
                            <img class="" src="/img/like_video.png" width="33px" height="33px" />
                        </div>
                        <div class="video_percent">
                            98%
                        </div>
                    </div>
                    <div class="video_fav_add">
                        <img class="video_fav_add" src="/img/like_fav.png" width="28px" height="28px" />
                    </div>
                    <div class="right_bot_mini_block">
                        <div class="video_view">
                            <img class="video_view" src="/img/view_5.png" width="31px" height="28px" />
                        </div>
                        <div class="video_count">
                            99,999
                        </div>
                    </div>
                    <div class="video_duration">
                        30:30
                    </div>
                </div>
                <div class="video_block_video">
                    <a asp-controller="Home" asp-action="Video" target="_blank">
                        <img class="video_img" src="/img/порн5.jfif" />
                        <div class="about_video">
                            Горячую шлюху ебут в
                        </div>
                    </a>
                    <div class="right_top_mini_block">
                        <div class="video_mini_rating">
                            <img class="" src="/img/like_video.png" width="33px" height="33px" />
                        </div>
                        <div class="video_percent">
                            98%
                        </div>
                    </div>
                    <div class="video_fav_add">
                        <img class="video_fav_add" src="/img/like_fav.png" width="28px" height="28px" />
                    </div>
                    <div class="right_bot_mini_block">
                        <div class="video_view">
                            <img class="video_view" src="/img/view_5.png" width="31px" height="28px" />
                        </div>
                        <div class="video_count">
                            99,999
                        </div>
                    </div>
                    <div class="video_duration">
                        30:30
                    </div>
                </div>
                <div class="video_block_video">
                    <a asp-controller="Home" asp-action="Video" target="_blank">
                        <img class="video_img" src="/img/порн5.jfif" />
                        <div class="about_video">
                            Горячую шлюху ебут в
                        </div>
                    </a>
                    <div class="right_top_mini_block">
                        <div class="video_mini_rating">
                            <img class="" src="/img/like_video.png" width="33px" height="33px" />
                        </div>
                        <div class="video_percent">
                            98%
                        </div>
                    </div>
                    <div class="video_fav_add">
                        <img class="video_fav_add" src="/img/like_fav.png" width="28px" height="28px" />
                    </div>
                    <div class="right_bot_mini_block">
                        <div class="video_view">
                            <img class="video_view" src="/img/view_5.png" width="31px" height="28px" />
                        </div>
                        <div class="video_count">
                            99,999
                        </div>
                    </div>
                    <div class="video_duration">
                        30:30
                    </div>
                </div>
            </div>
</body>
