@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Ошибка.</h1>
<h2 class="text-danger">При обработке вашего запроса произошла ошибка.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Идентификатор запроса:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Режим Разработки</h3>
<p>
    При переключении на <strong>Среду разработки </strong> будет отображена более подробная информация о возникшей ошибке.
</p>
<p>
    <strong>Среда разработки не должна быть включена в развернутых приложениях</strong>, так как это может привести к отображению
    конфиденциальной информации из исключений конечным пользователям. Для локальной отладки среду разработки можно включить, установив 
    для переменной среды <strong>ASPNETCORE_ENVIRONMENT</strong> переменнаую среду to <strong>Development</strong>, и перезапустив приложение.
</p>
