@model RussianHub.Models.Entity.Photo

@{
    ViewData["Title"] = "Delete";
}

<h1>Удаление элемента</h1>

<h3>Вы уверены что хотите удалить это?</h3>
<div>
    <h4>Фото</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Url)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AltText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AltText)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Назад к базе данных</a>
    </form>
</div>
