@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Пожалуйста, проверьте свою электронную почту, чтобы сбросить пароль.
</p>
