@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Ваш пароль был изменён. Пожалуйста, <a asp-page="./Login">нажмите здесь, чтобы войти в систему</a>.
</p>
