@{
    ViewData["Title"] = "Жалоба/Abuse";
}

<div>
    <h1>@ViewData["Title"]</h1>
    
    <p>
        Вы считаете, что на сайте есть фотографии или видео нарушающие закон, общественные моральные принципы и т.д.? Напишите об этом администратору веб-сайта по почте 
        <a href="">pechnikovmichelle@gmail.com</a>! Но прежде всего, обратите внимание на то, что мы соблюдаем 18 U.S.C. 2257 RKRCS, согласно которому, все лица (актеры, актрисы) достигли 18 лет на момент съемок, а все видео, опубликованные на данном веб-сайте являются постановочными, авторы (url студии) указаны на каждой странице с видео.
    </p>
    <p>
        Уважаемые владельцы авторских прав, если на данном веб-сайте размещены ваши работы (видео, изображения) и вы желаете их удалить, либо если ошибочно указаны ваши контактные данные, то вы можете связаться с администратором сайта по почте 
        <a href="">pechnikovmichelle@gmail.com</a>. Уверяю вас, никто не будет игнорировать данные письма и мы постараемся во всём разобраться.
    </p>
    <p>
        RussianHub is in compliance with 17 U.S.C. І 512 and the Digital Millennium Copyright Act (DMCA). It is our policy to respond to any infringement notices and take appropriate actions under the Digital Millennium Copyright Act (DMCA) and other applicable intellectual property laws. If your copyrighted material has been posted on RussianHub or if links to your copyrighted material are returned through our search engine and you want this material removed, you must send e-mail to 
        <a href="">pechnikovmichelle@gmail.com</a>.
    </p>
</div>