@{
    ViewData["Title"] = "Информация для родителей";
}

<div color="white">
    <h1>@ViewData["Title"]</h1>
    
    <div>
        <span>
            В наше время практически в каждой семье есть домашний компьютер с высокоскоростным доступом в сеть интернет. Сегодня дети с раннего возраста имеют доступ к компьютеру, планшету или другому электронному устройству с доступом в интернет. Задача родителей - оградить своё чадо от нежелательной информации в сети. Для этого существует масса программ для так называемого "родительского контроля", постараемся перечислить наиболее основные из них:
        </span>
    </div>
    <ol>
        <li>
            <strong><span>Kaspersky Total Security - </span></strong>
            <span>
                лучшее в мире антивирусное ПО отечественной разработки, идеально подойдёт для защиты детей от вредной  информации и родительского контроля, можно использовать как на персональном компьютере так и на планшете и мобильном устройстве, приобрести продукт можно на сайте разработчиков: 
                <span>
                    <a href=" http://www.kaspersky.ru"> http://www.kaspersky.ru</a>
                </span>
            </span>
        </li>
        <li>
            <strong><span>КиберМама - </span></strong>
            <span>
                условно бесплатный инструментарий для контроля использования ребёнком домашнего компьютера, помимо блокировки нежелательных сайтов имеет массу полезных функций, продукт можно попробовать бесплатно в течении 30 дней, сайт программы: 
                <span>
                    <a href="http://www.cybermama.ru">http://www.cybermama.ru</a>
                </span>
            </span>
        </li>
        <li>
            <strong><span>KidsControl - </span></strong>
            <span>
                самая простая программа для родительского контроля, имеет простой и понятный интерфейс, легко установить и настроить, небольшая цена. Приобрести можно на сайте:
                <span>
                    <a href="http://www.kidscontrol.ru">http://www.kidscontrol.ru</a>
                </span>
            </span>
        </li>
    </ol>
    <p><br /></p>
    <p>
        <span>
            В этой статье мы рассмотрели только наиболее простые способы контроля над действиями ребёнка в сети интернет, если у Вас остались вопросы по этой теме - вы можете писать нам в 
            <a asp-controller="Privacy" asp-action="Contacts" >форму обратной связи</a> и мы постараемся помочь!
        </span>
    </p>
</div>