@model RussianHub.Models.PersonalParameters

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PersonalParameters</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ade" class="control-label"></label>
                <input asp-for="Ade" class="form-control" />
                <span asp-validation-for="Ade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weigh" class="control-label"></label>
                <input asp-for="Weigh" class="form-control" />
                <span asp-validation-for="Weigh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Height" class="control-label"></label>
                <input asp-for="Height" class="form-control" />
                <span asp-validation-for="Height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nickname" class="control-label"></label>
                <input asp-for="Nickname" class="form-control" />
                <span asp-validation-for="Nickname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RealName" class="control-label"></label>
                <input asp-for="RealName" class="form-control" />
                <span asp-validation-for="RealName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Info" class="control-label"></label>
                <input asp-for="Info" class="form-control" />
                <span asp-validation-for="Info" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EyeColor" class="control-label"></label>
                <input asp-for="EyeColor" class="form-control" />
                <span asp-validation-for="EyeColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HairColor" class="control-label"></label>
                <input asp-for="HairColor" class="form-control" />
                <span asp-validation-for="HairColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Character" class="control-label"></label>
                <input asp-for="Character" class="form-control" />
                <span asp-validation-for="Character" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatefBirth" class="control-label"></label>
                <input asp-for="DatefBirth" class="form-control" />
                <span asp-validation-for="DatefBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

