/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,400;1,500&display=swap');

.wrap__content {
    display: flex;
    
}
.content-container {
    width: 90%;
    padding: 10px 10px 10px 20px;
}

.content-item {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.video_block {
    flex-basis: 33%;
    padding: 10px;
}

    .video_block > a > img {
       
    }

.video_block > a > p {
    background-color: #222222;
    padding-top: 2px;
    border: 1px solid #3b3939;
}
.Category {
    
    text-align: left;
    height: 100%;
    width: 20%;
    border-right: 1px solid orange;
    padding-right: 5px;
}

.Category > ul {
    list-style: none;
    
}

.Category > ul > li {
    padding-bottom: 3px;
    width: 100%;
}

.horisont {
    background-color: red;
}

body {
    color: rgb(199, 190, 190);
    background-color: rgb(0, 0, 0);
    font: normal 16px 'Roboto';
}

    
a {
    text-decoration: none;
    color: white;
}

a:hover {
    
    color: orange;
}

a:active {
    color: orange;
}


.left-menu {
}

.left-menu > a {
    margin-left: 10px;
}

.log > a {
    margin-left: 10px;

}
.log > div {
    display: inline;
    padding: 5px;
   
}

.log {
    display: flex;
    text-align:left;
}

.Menu {
   
    margin-bottom: 0px;
    display: flex;
    align-items:center;
    padding-bottom: 10px;
    font-size: 17px;
    margin-bottom: 10px;
    padding-top:10px;
    border-bottom: 1px solid #f4792e;
    width: 100%;    
}

.home {
    height:100px;
    width: 250px;
}

.form {
    padding-left: 20px;
    padding-top: 7px;
}

.left-menu-form {
    display:flex;
    position: relative;
    left: 50px;
}
.podval > div {
    
    padding: 10px;
    margin: 0 40%;
    width: 50%;
}

div.h5 {
    text-align: center;
}