/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,400;1,500&display=swap');

  .Category {
    display: flex;
    border-bottom: 1px solid #f4792e;
    border-top: 1px solid #f4792e;
    text-align: center;
    padding-inline: 60px;
    border-radius: 100px;
  }
  .Category>ul {
    list-style: none;
  }

  .Category>ul>li {
    border-bottom: 1px solid rgb(0, 0, 0);
  
  }
  .horisont{ 
    background-color:red;
  }
  
  body {
    
    color: rgb(199, 190, 190);
    background-color:rgb(0, 0, 0);
    font: normal 16px 'Roboto';
  }

  .Top-menu {
    color: red;
  }
  a{
    text-decoration: none;
    color: white;

  }
  a:hover {
    text-decoration:underline;
  }
   
  a:active{
    color: orange;
    
  }
  h2 {
    font-weight: normal;
  }

  h1 {
    border:0px;
    font-weight: normal;
    margin: 0px;
    border-bottom: 1px solid #f4792e;;
  }

  .left-menu {
   padding-left: 30px;
   padding-top:7px;
  }
.left-menu>a {
  margin-left: 10px;
}
  .log >a{
    margin-left: 10px;

  }

  .log{
    padding-left: 375px;
    padding-top:7px;
  }
  
  .Menu {
    margin:5px 5px;
    margin-bottom: 0px;
    display: flex;
    padding-bottom: 10px;
    font-size: 17px;
    margin-bottom: 10px;
  }

  .home {
    font-size: 25px;
    color: orange
  }

.form {
  padding-left: 20px;
  padding-top: 7px;
  
}

.form textarea{
  width: 10;
}