html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.categoryMenu {
    border-bottom: 1px solid #f4792e;
    border-top: 1px solid #f4792e;
    margin: 0 auto;
    width: 97%;
    font-size: 15px;
    font-family: verdana,arial,times new roman;
    overflow: hidden;
    display: block;
    padding: 0;
}

.ulCategory {
    float: left;
}

div {
    display: block;
}